*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

h1 {
  padding: 10px;
}

.start-button {
  margin-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

li {
  padding-bottom: 5px;
}

.question {
  padding-bottom: 5px;
}

.quiz-answers {
  padding: 20px;
}

#correct {
  display: none;
}

#incorrect {
  display: none;
}

#score-display {
  display: none;
}
