*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 50%;
  border: 1px solid red;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

#correct {
  display: none;
}

#incorrect {
  display: none;
}
